body {
  margin: 0;
  font-family: Futura, system-ui, sans-serif, emoji, math;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 16px;
}
